/* overview */
.reveal.overview {
  background: #eee;
}
.reveal.overview .slides section:hover,
.reveal.overview .slides section.present {
  outline-color: rgba(255, 121, 0, 0.5);
}
.reveal.overview section {
  background: #fff;
}

/* progress */
.reveal .progress {
  height: 5px;
}
.reveal .progress span {
  background: #FF8700;
}

/* controls */
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #FF7600;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #FF7600;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #FF7600;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #FF7600;
}

/* first section in black colors */
section.section-black-bg {
  background: rgba(0, 0, 0, 0.6);
}
section.section-black h2 {
  color: white;
}
section.section-black h4,
section.section-black h4 a {
  color: #aaa;
}
section.section-black h4 a {
  border-bottom: 1px #888 solid;
}
section.section-black h4 a:hover {
  color: white;
}
section.section-black .version {
  font-size: 1rem;
}

/* first section in white colors */
section.section-white small {
  color: white;
}
section.section-white small a {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px rgba(255,255,255,0.4) solid;
}
section.section-white small a:hover {
  color: white;
}
section.section-white .version {
  color: rgba(255, 248, 248, 0.5);
  font-size: 17px
}

/* notes */
.speaker-controls-notes .value {
  font-size: 10px;
}

/* other */
.reveal h2 {
  font-weight: bold;
}
.reveal section a {
  color: #A86D00;
  transition-property: background, color;
}
.reveal section a:hover {
  background: #C57F00;
  color: #FFF;
}
.reveal .text-left {
  text-align: left;
}
.reveal section img {
  border: none;
  box-shadow: none;
  background: transparent;
}
.reveal ul.items-margin-bottom li {
  margin-bottom: 10px;
}

.reveal .fragment.current-visible {
  display: none;
}
.reveal .fragment.current-visible.current-fragment {
  display: inline-block;
}
