.reveal h2 {
  font-weight: bold;
}

.reveal.overview {
  background: #eee;
}
.reveal.overview .slides section:hover,
.reveal.overview .slides section.present {
  outline-color: rgba(255, 121, 0, 0.5);
}
.reveal.overview section {
  background: #fff;
}

.reveal .progress {
  height: 5px;
}
.reveal .progress span {
  background: #FF8700;
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #FF7600;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #FF7600;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #FF7600;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #FF7600;
}

.reveal img.no-border {
  border: none;
  box-shadow: none;
  background: transparent;
}

/* first slide in black colors */
section.section-black-bg {
  background: rgba(0, 0, 0, 0.6);
}
section.section-black h2 {
  color: white;
}
section.section-black h4,
section.section-black h4 a {
  color: #aaa;
}
section.section-black h4 a {
  border-bottom: 1px #888 solid;
}
section.section-black h4 a:hover {
  color: white;
}
section.section-black .version {
  font-size: 1rem;
}

/* first slide in white colors */
section.section-white small {
  color: white;
}
section.section-white small a {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px rgba(255,255,255,0.4) solid;
}
section.section-white small a:hover {
  color: white;
}
section.section-white .version {
  color: rgba(255, 248, 248, 0.5);
  font-size: 17px
}

.speaker-controls-notes .value {
  font-size: 10px;
}
